@font-face {
    font-family: Inter-Reg; /** downloaded google font for blog page**/
    src: url(./fonts/Inter-Regular.ttf);
}   

h1 {
    text-align: center;
}

#button {
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

#services{
    font-family: Inter-Reg;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.active {
    font-weight: bold;
}