@font-face {
    font-family: Inter-Reg; /** downloaded google font for blog page**/
    src: url(./fonts/Inter-Regular.ttf);
    font-weight: normal;
}   

h1 {
    text-align: center;
}

ul{
    float: right;
}

#button {
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

#services{
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.active {
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .card img{
        height:200px;
        width:350px;
    }
}
    
#cards {
    margin-left: 400px;
}
    
    
@media screen and (max-width: 390px) {

    .card img {
        height:250px;
        width:100%;
    }

    #body.card-body {
        flex-direction: column;
    }
}


.MYleft {
    text-align: left;
}